body{
    font-family: montserrat;
     background:url(https://wallpapercave.com/wp/wp7488412.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

}
*{
    margin: 0;
    padding:0;
}
.icon{
    line-height: 0%;
}
.content{
    background-color: rgba(225, 225, 225, 0.333);
    box-shadow:0 8px 32px 0 rgba(86, 86, 86, 0.37);
    color: rgb(255, 255, 255);

    
}